.error {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: white;
}
.error > h1 {
    font-size: 70px;
    margin-bottom: 15px;
}
.error > h2 {
    font-size: 27px;
}
.error > h3 {
    padding-top: 150px;
    font-size: 27px;
    margin-bottom: 15px;
}
