.products {
    text-align: center;
}
.products__title {
    font-size: 25px;
    margin-bottom: 40px;
}
.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px 30px;
}
.products__btn {
    margin: 0 auto 30px;
}
.product__num div {
    display: flex;
    justify-content: center;
}
@media screen and (min-width: 678px) and (max-width: 1200px) {
    .products__list {
        justify-content: space-between;
    }

}
